<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wishlist</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">

</head>
<body>
<div class="container">
    <h1>Welcome to your digital WISHLIST</h1>

    <p>Please choose an option to continue</p>
    <div class="buttons">
        <a href="/wishlist/login" class="btn">Log in</a>
        <a href="/users/register" class="btn">Sign up</a>
    </div>
</div>
</body>
</html>
